@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c1c22;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 80px;
    }
    h2 {
      font-size: 48px;
    }
    h3 {
      font-size: 24px;
    }
  }
}


body {
  color: var(--foreground);
  background: #1c1c22;
  font-family: 'Montserrat Alternates', sans-serif;
}

.page{
  padding: 40px;
  min-height: calc(100vh - 80px);
}

h1 {
  font-size: 48px; 
  font-weight: 600;
}

h2 {
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-size: 20px; 
  font-weight: 600;
}


